/* style.css */

body {
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* **************************************** */
/* DO NOT TOUCH ANY STYLES ABOVE THIS LINE! */
/* WRITE YOUR STYLES BELOW! 👇👇👇         */
/* **************************************** */
